@font-face {
    font-family: 'Inder';
    src: url(/fonts/Inder-Regular.ttf)
}

body{
    background-image: url(/assets/weatherAppBg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    height: 100vh;
    width: auto;
    color: white;
    font-family: "Inder";
}




.pageGrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, auto);
    align-content: center;
    gap: 1rem;
    margin: 5rem;
    /* place-items: center; */
    /*   align-items: center;
    justify-items: center; /* adjusted */ 

}

.mainContainer{
    display: flex;
    grid-column: 2 / span 3;
    grid-row: 3 / span 2;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    border-radius: 3rem;

}

.mainContainerText{
    margin: 3rem;
}

.container{
    background-color: rgba(0, 0, 0, 0.7);
}

.searchBar{
    display: flex;
    grid-column: 4 / span 2 ;
    align-items: center;    
    background-color: rgba(0, 0, 0, 0.7) ;
    width: 100%;
    height: 100%;
    border-radius: 3rem;
}


.innerSearchBar{
    display: flex;
    align-items: center;    
    width: 100%;
    height: 100%;
    margin: 1rem;
}

button{
    background-color: transparent;
    color: white;
    font-size: 2rem;
    text-decoration: underline;
    display: block;
}


.savedLocationsDropDown{
    grid-column: 4 / span 2;
    grid-row: 2;
    text-wrap: nowrap;
}

/* .favorite{
    grid-column: 4;
    grid-row: 1;
    text-align: right;
} */

.todayText{
    text-decoration: underline;
    grid-column: 1;
    grid-row: 5;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    border-radius: 3rem;
}

.day1Container{
    grid-column: 1;
    grid-row: 6;
    place-self: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 3rem;


}
.day2Container{
    grid-column: 2;
    grid-row: 6;
    place-self: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 3rem;


}
.day3Container{
    grid-column: 3;
    grid-row: 6;
    place-self: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 3rem;

}
.day4Container{
    grid-column: 4;
    grid-row: 6;
    place-self: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 3rem;
}
.day5Container{
    grid-column: 5;
    grid-row: 6;
    place-self: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 3rem;


}



